node_modules
.next
out
.env*.local
firebase-debug.log
firestore-debug.log
coverage
dist
functions/lib
functions/node_modules

android/keystore.properties
android/keystore.properties.example
android/app/upload-keystore.jks
*.jks
*.keystore
android/gradle-truststore.jks
android/avast-root.cer
*.tsbuildinfo
release/
